# Dictionary
* Dictionaries are used to store data values in key : value pairs.
* A dictionary is a collection which is ordered , changeable and don not aloow duplicate keys

  syntax
  ``` python
       {
           key: value
       }
  ```

In [1]:
# creating empty dictionary

In [33]:
d1 = {}

In [34]:
type(d1)

dict

In [35]:
d2 = dict()

In [36]:
type(d2)

dict

# create your own dictionary

In [37]:
about = {
    "name" : 'Kshitiz',
    "teaches" : ['python' , 'Data Science'] ,
    "time" : 900

}

In [38]:
print(about)

{'name': 'Kshitiz', 'teaches': ['python', 'Data Science'], 'time': 900}

In [39]:
about.keys()

dict_keys(['name', 'teaches', 'time'])

In [40]:
about.values()

dict_values(['Kshitiz', ['python', 'Data Science'], 900])

In [41]:
about.items()

dict_items([('name', 'Kshitiz'), ('teaches', ['python', 'Data Science']), ('time', 900)])

# accesing dictionary values using keys

In [42]:
about["name"]

'Kshitiz'

In [43]:
about.get("name")

'Kshitiz'

# tupple unpacking

In [44]:
a,b = (9,5)

In [45]:
a

9

In [46]:
b

5

In [47]:
for item in about.items():
    print(item)

('name', 'Kshitiz')
('teaches', ['python', 'Data Science'])
('time', 900)

In [48]:
for key, val in about.items():
    print(f"The key is {key} and the value is {val}")

The key is name and the value is Kshitiz
The key is teaches and the value is ['python', 'Data Science']
The key is time and the value is 900

In [49]:
school = {
    1 : "Kshitiz",
    2 : "Sishir",
    3 : "Beeplove",
    4 : "Pranjwal",
    5 : "Mahesh",
    6 : "Broadway",
    7 : "Messi",
    8 : "Barca",
    9 : "Ambrose",
    10 : "Aslyum"
}

In [50]:
print(school)

{1: 'Kshitiz', 2: 'Sishir', 3: 'Beeplove', 4: 'Pranjwal', 5: 'Mahesh', 6: 'Broadway', 7: 'Messi', 8: 'Barca', 9: 'Ambrose', 10: 'Aslyum'}

In [20]:
school.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [21]:
school.values()

dict_values(['Kshitiz', 'Sishir', 'Beeplove', 'Pranjwal', 'Mahesh', 'Broadway', 'Messi', 'Barca', 'Ambrose', 'Aslyum'])

In [22]:
school.values()

dict_values(['Kshitiz', 'Sishir', 'Beeplove', 'Pranjwal', 'Mahesh', 'Broadway', 'Messi', 'Barca', 'Ambrose', 'Aslyum'])

In [23]:
school.items()

dict_items([(1, 'Kshitiz'), (2, 'Sishir'), (3, 'Beeplove'), (4, 'Pranjwal'), (5, 'Mahesh'), (6, 'Broadway'), (7, 'Messi'), (8, 'Barca'), (9, 'Ambrose'), (10, 'Aslyum')])

In [24]:
for item in school.items():
    print(item)

(1, 'Kshitiz')
(2, 'Sishir')
(3, 'Beeplove')
(4, 'Pranjwal')
(5, 'Mahesh')
(6, 'Broadway')
(7, 'Messi')
(8, 'Barca')
(9, 'Ambrose')
(10, 'Aslyum')

In [25]:
for key , value in school.items():
    print(f"The Roll no. is {key} and the name is {value}")

The Roll no. is 1 and the name is Kshitiz
The Roll no. is 2 and the name is Sishir
The Roll no. is 3 and the name is Beeplove
The Roll no. is 4 and the name is Pranjwal
The Roll no. is 5 and the name is Mahesh
The Roll no. is 6 and the name is Broadway
The Roll no. is 7 and the name is Messi
The Roll no. is 8 and the name is Barca
The Roll no. is 9 and the name is Ambrose
The Roll no. is 10 and the name is Aslyum

In [26]:
school[1]

'Kshitiz'

In [27]:
school[4]

'Pranjwal'

In [28]:
school.get(2)

'Sishir'

In [29]:
school.get (11, "unknown") # if key exist gardaina vane we can define default value

'unknown'

In [30]:
integer = {
    1.5 : "Ram",
    2.5 : "Hari",
    3.6 : "Shyam",
    3.9 : "Balen"
}

In [51]:
type(integer)

dict

# adding key value pairs in dictionary

In [52]:
about = {
    "name" : 'Kshitiz',
    "teaches" : ['python' , 'Data Science'] ,
    "time" : 900

}

In [53]:
about['experience'] = 4

In [54]:
about

{'name': 'Kshitiz',
 'teaches': ['python', 'Data Science'],
 'time': 900,
 'experience': 4}

In [55]:
# experience vanne key pahila nai exixt garxa mailey naya value halna khoje

In [56]:
about['experience']  = 5 # key already exist garxa vane value update hunxa

In [57]:
about

{'name': 'Kshitiz',
 'teaches': ['python', 'Data Science'],
 'time': 900,
 'experience': 5}

In [58]:
about.update ({'age' : 26}) # age vanne key exist gardaina tessailey naya banxa

In [59]:
about

{'name': 'Kshitiz',
 'teaches': ['python', 'Data Science'],
 'time': 900,
 'experience': 5,
 'age': 26}

In [60]:
about.update({'age' : 25 }) # age already exist garxa vane age key ko value ko update hunxa

In [61]:
about

{'name': 'Kshitiz',
 'teaches': ['python', 'Data Science'],
 'time': 900,
 'experience': 5,
 'age': 25}

In [62]:
about['teaches'].append ("ML")

In [63]:
about

{'name': 'Kshitiz',
 'teaches': ['python', 'Data Science', 'ML'],
 'time': 900,
 'experience': 5,
 'age': 25}

In [64]:
about

{'name': 'Kshitiz',
 'teaches': ['python', 'Data Science', 'ML'],
 'time': 900,
 'experience': 5,
 'age': 25}

In [65]:
about

{'name': 'Kshitiz',
 'teaches': ['python', 'Data Science', 'ML'],
 'time': 900,
 'experience': 5,
 'age': 25}

In [66]:
about.update({"name": "Kshitiz Regmi"})

In [67]:
about

{'name': 'Kshitiz Regmi',
 'teaches': ['python', 'Data Science', 'ML'],
 'time': 900,
 'experience': 5,
 'age': 25}

In [69]:
about.pop(time)

NameError: name 'time' is not defined