# SQL
* Structured Query Language (SQL) is a standardized programming language that is used to manage relational databases and perform various operations on the data in them.
 <img src = "https://raw.githubusercontent.com/gulvaibhav20/assets/master/Scaler/Relational_Model/Table.jpg">

# Creating and connecting to a database

In [1]:
import sqlite3

In [2]:
import os
os.path.exists('student.db')

False

In [3]:
con = sqlite3.connect('student.db')

In [4]:
os.path.exists('student.db')

True

# Creating table in database

```sql
create table_name (column_name_1 dtype, column_name_2 dtype, ... , column_name_ndtype)
```

In [12]:
query = """
create table student_detail (roll_no int primary key , name varchar(50) , cgpa float)
"""

In [6]:
# cursor is used to execute sql query

In [13]:
cur = con.cursor()

In [9]:
# table once created cannot be created again

In [14]:
try :
    status = cur.execute(query)
except Exception as e:
    print(e)

In [15]:
status

# Inserting data type

```sql
Insert into table_name (column_name 1, column_name 2, ..., column_name_n)
values
(value_01, value_02, ... ,value_0n),
(value_11, value_22 , ... , value_nn)
```

In [16]:
query = """
insert into student_detail(roll_no, name ,cgpa)
values
(001, 'Vaivav' , 9.1)
"""

In [17]:
cur.execute(query)

# Select statement in sql / Read data from table

```sql
select * from table name 
```

In [20]:
query = "select * from student_detail"
cur.execute(query).fetchall()

[(1, 'Vaivav', 9.1)]

In [21]:
query = "select name  from student_detail"
cur.execute(query).fetchall()

[('Vaivav',)]

In [22]:
query = "select name , cgpa from student_detail"
cur.execute(query).fetchall()

[('Vaivav', 9.1)]

# insert multiple data at once

In [25]:
query = """
Insert into student_detail (roll_no, name ,cgpa)
values
(002 , 'Neha' , 9.5),
(003 , 'Harsh' , 8.5),
(004 , 'Sherya' , 9.3)
"""

In [26]:
cur.execute(query)

In [27]:
cur.execute("select * from student_detail").fetchall()

[(1, 'Vaivav', 9.1), (2, 'Neha', 9.5), (3, 'Harsh', 8.5), (4, 'Sherya', 9.3)]

# where clause

select student name where cgpa <9

In [28]:
cur.execute(" select name from student_detail where cgpa <9").fetchall()

[('Harsh',)]

In [29]:
cur.execute(" select name from student_detail where cgpa = 9.3").fetchall()

[('Sherya',)]

In [31]:
cur.execute(" select roll_no from student_detail where name = 'Neha'").fetchall()

[(2,)]

# update
```sql
update table_name
set column_name = value
where
conditional
```

In [32]:
# Vaibhav

In [33]:
cur.execute("update student_detail set name = 'Vaibhav' where roll_no = 1")

In [35]:
cur.execute("select * from student_detail").fetchall()

[(1, 'Vaibhav', 9.1), (2, 'Neha', 9.5), (3, 'Harsh', 8.5), (4, 'Sherya', 9.3)]

# delete row in database

In [36]:
cur.execute ("delete from student_detail where roll_no = 3")

In [37]:
cur.execute("select * from student_detail").fetchall()

[(1, 'Vaibhav', 9.1), (2, 'Neha', 9.5), (4, 'Sherya', 9.3)]