# tuples
* immutable data type
* ordered , allows duplicate , allow multiple data types
* written inside() round brackets seperated by coma

In [3]:
cars = ("mercedes", "bently" , "bmw" , "audi" , "tesla")

In [4]:
type(cars)

tuple

In [5]:
cars

('mercedes', 'bently', 'bmw', 'audi', 'tesla')

In [7]:
cars[0]

'mercedes'

In [8]:
cars[2]

'bmw'

In [9]:
cars[-2]

'audi'

In [10]:
cars[2:4]

('bmw', 'audi')

In [14]:
cars [-2:]

('audi', 'tesla')

In [15]:
cars = ("mercedes", "bently" , "bmw" , "audi" , "tesla")

In [16]:
cars[4] = 'Lambo' #tuple is immutable ,, write garna mildaina

TypeError: 'tuple' object does not support item assignment

In [17]:
cars = ("mercedes", "bently" , "bmw" , "audi" , "tesla")
# cars vanne varibale ma jasari pani last ma euta car name thapnu paryo

In [19]:
cars = list(cars)
cars

['mercedes', 'bently', 'bmw', 'audi', 'tesla']

In [21]:
cars.append("Tata")

In [22]:
cars =  tuple(cars)

In [23]:
cars

('mercedes', 'bently', 'bmw', 'audi', 'tesla', 'Tata')

In [24]:
t1 = (2,4,6,8,10)

In [25]:
total = 0
for item in t1:
    total = total + item

print(total)

30

In [27]:
total = 0
for itenm in t1 :
    total = total+item

mean = total/len(t1)
print(mean)

10.0